# BigQuery Table
CLINICIANS_TABLE= Table name in bq
LOCATIONS_TABLE= Table name in bq
DATASET_LOCATION= your dataset location
DATASET_ID= your dataset id
GCP_PROJECT_ID= your gcp project id
GCP_SCHEMAS_DIR= gcp schema folder
SCHEMAS_AND_COLUMNS_MAPPING_DIR= paraent folder fo schama
# GCP CREDENTIALS
GCP_CREDENTIALS_PATH= json file creds



# GCP BUCKET
GCS_BUCKET= your bucket name

# Filters
FILTERS= dict like string - has to match the api cols, ie{"states": ["WA"], "gndr": ["INTERNAL MEDICINE", "ANESTHESIOLOGY"]}

# API
BASE_URL= api url
BATCH_SIZE= batch size, can be null
MAX_RECORDS= batch size, can be null means everything
API_COLUMNS_FILE= column mapping file

# DEDUPLICATES
DEDUPLICATE_ON= duplicated cols

# Export
SAMPLE_SIZE_TO_EXPORT=
DATA_DIR_TO_EXPORT=

